.section-2 {
  margin: 0 5%;
  .title-box {
    h2 {
      span {
        font-family: $font-2;
        font-size: 3.125rem;
        font-weight: 700;
      }

      &:first-child {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 0;
    gap: 0.625rem;

    h4 {
      margin: 0 0 1rem 1rem;
      font-weight: 400;
    }

    .item-box {
      margin-bottom: 1rem;
      position: relative;
      .menu-list::after {
        position: absolute;
        content: "";
        top: 1.5rem;
        height: 0.05rem;
        width: 100px;
        transform: translate(-100%);
        background: $wood;
      }
    }

    .separator-1 {
      height: 13rem;
      width: 3.875rem;
      background: url(../../assets/Séparateurs/Sép2_bois.png) center/cover;
    }
    .separator-2 {
      height: 13rem;
      width: 3.875rem;
      background: url(../../assets/Séparateurs/Sép3_bois.png) center/cover;
    }

    .menu-box {
      position: relative;
      padding: 0.625rem;
      width: 100%;
      height: 13rem;
      background: $gray;
      border-radius: 1.5rem;
      .btn-modal {
        position: absolute;
        top: -0.8rem;
        right: 0;
      }
      p {
        text-align: right;
        font-size: 1rem;
      }
      .description-box {
        p {
          text-align: center;
          color: $wood;
        }
      }
    }
  }

  .bottom-box {
    text-align: center;
    margin: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .section-2 {
    .title-box {
      h2 {
        span {
          font-size: 6rem;
        }
      }
    }

    .menus-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      .description-box {
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}
